In [1]:
# Required Libraries
import pandas as pd

# Reading StackOverflow data
dataFrame = pd.read_csv('Dataset.csv')
dataFrame.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [36]:
# Processing Developers' Nationalities Data
nationalityData = dataFrame['Country'].value_counts().rename_axis('Country').reset_index(name='Programmers')
# nationalityData.head()

nationalityData = nationalityData.replace('Russian Federation', 'RU')
nationalityData = nationalityData.replace('Hong Kong (S.A.R.)', 'Hong Kong')
nationalityData = nationalityData.replace('Iran, Islamic Republic of...', 'Iran')
nationalityData = nationalityData.replace("Lao People's Democratic Republic", 'Laos')
nationalityData = nationalityData.replace('United States of America', 'United States')
nationalityData = nationalityData.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')

# Normalizing the output
# It should be like [['Country', 'Programmers'], ['Germany', 200], ['United States', 300]]
nationalityArray = [['Country', 'Programmers']]
for index, row in nationalityData.iterrows():
    nationalityArray.append([row['Country'], row['Programmers']])
# nationalityArray[0:9]

# Save to file
with open('Nationalities.txt', 'w') as myFile:
    myFile.write('[')
    for item in nationalityArray:
        myFile.write("%s, " % item)
    myFile.write(']')

In [31]:
# Processing Developers' Nationalities Data
genderData = dataFrame['Gender'].value_counts().rename_axis('Gender').reset_index(name='Count')

# Note: there are 15+ variations, we want to make it 3: Man, Woman, Other.

totalOthers = genderData.query('Count < 4000').sum()
totalData = pd.DataFrame([['Other', totalOthers['Count']]], columns=['Gender', 'Count'], index=[2])
genderData = pd.concat([genderData.query('Count > 4000'), totalData])
genderData

  Gender  Count
0    Man  74817
1  Woman   4120
2  Other   3349

In [7]:
# Processing Developers' Age Data
ageData = dataFrame['Age'].value_counts().rename_axis('Age').reset_index(name='Frequency')
# ageData

startAgeData = dataFrame['Age1stCode'].value_counts().rename_axis('Age').reset_index(name='Frequency')
startAgeData

                    Age  Frequency
0         11 - 17 years      44170
1         18 - 24 years      20065
2          5 - 10 years      11720
3         25 - 34 years       4199
4         35 - 44 years       1312
5  Younger than 5 years        905
6         45 - 54 years        544
7         55 - 64 years        245
8   Older than 64 years         83